* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:blueviolet;
    padding: 5%;
    text-align: center;
    height:100px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }

body{
   font-family: Arial, Helvetica, sans-serif;
   background-color:rgb(102, 255, 196);


}

.container{
     width:700px;
     height:400px;
     transform: translateX(20%) translateY(30%);
     margin-left: 20%;
     border: 1px solid blueviolet;
     background-image: linear-gradient(pink,yellow);
     

     

}

.nametimeheader{
     
    display: flex;
    justify-content: space-between;
    height:40px;
    background-color: skyblue;
    border:1px solid black;
    padding: 10px;
   
}

.user{
    font-style: italic;
    color: brown;
    
}



.question{
     font-size: 20px;
     background: cyan;
     color:chocolate;
     border-radius: 100px;
     padding:20px;
     margin: 10px;

}

.options {

    width:400px;
    display:inline-block;
    padding:10px;
    vertical-align: middle;
    background-color: white;
    color: blueviolet;
    margin: 10px 0 10px 10px;
    cursor: pointer;
    border-radius: 100px;
}

.instructioncontainer{
   
    
    height:200px;
    width:500px;
    margin-top : 5%;
    margin-left : 35%;
    padding-left: 30px;
    background-color: orange;
    border: 10px solid darkblue;
}
.startcontainer{
    
     display:flex;
     justify-content: center;
     text-align: center;
     height:200px;
     width:500px;
     margin-top : 5%;
     margin-left : 35%;
     
         

}
.endcontainer{
    
    
    justify-content: center;
    text-align: center;
    height:200px;
    width:500px;
    margin-top : 10%;
    margin-left : 35%;
    background-color: orange;
    border: 10px solid darkblue;
   

}

.endcontainer h2,
.endcontainer p{
  
      padding:20px;




}

.endcontainer p{
   font-style: italic;
   color: crimson;
 

}

 #name,.start  {
    border:1px solid salmon;
    height: 50px;
    width:250px;
    margin: 10px 0 10px 0;
    border:none;
    background-color: blue;
   
    
}

 #name{
    background-color: transparent;
    border-bottom: 2px solid blue;
    font-size: 30px;

}

.start {
   border-radius: 100px;
   font-size: 20px;


}

.start:hover{
    background-color:orange;
    cursor: pointer;
    outline: none;

}


.start{

    display: block;

}


#prevbtn{
    float:left;
    margin:10px;
    width:100px;
    font-size: 20px;
    background-color:blueviolet;
    
 
}
#prevbtn:hover{
    background-color: blue;
    cursor: pointer;
}


 

#nextbtn{
   float:right;
   margin:10px;
   width:100px;
   font-size: 20px;
   background-color:blueviolet;
   

}

#nextbtn:hover{
    background-color: blue;
    cursor: pointer;
}

#result{
    height:100px;
    text-align: center;
    font-size: 75px;
}

#score
{
    height:100px;
    text-align: center;
    font-size: 75px;
}